@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p>@_username</p>
                </Authorized>
            </AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private string _username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        var user = authState.User;


        if(user.Identity.IsAuthenticated)
        {
            _username = user.Claims.FirstOrDefault().ToString();
        }
    }
}
   
